alabaster==0.7.12
atomicwrites==1.4.0
attrs==19.3.0
Babel==2.8.0
bleach==3.3.0
boto3==1.13.1
botocore==1.16.1
certifi==2020.4.5.1
chaos-lambda==0.2.4
chardet==3.0.4
coverage==5.1
coveralls==2.0.0
docopt==0.6.2
docutils==0.16
future==0.18.2
idna==2.9
imagesize==1.2.0
importlib-metadata==1.6.0
Jinja2==2.11.3
jmespath==0.9.5
keyring==21.2.1
MarkupSafe==1.1.1
more-itertools==8.2.0
packaging==20.3
pip-review==1.1.0
pkginfo==1.5.0.1
pluggy==0.13.1
py==1.8.1
Pygments==2.6.1
pyparsing==2.4.7
pytest==5.4.1
pytest-cov==2.8.1
python-coveralls==2.9.3
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
readme-renderer==26.0
requests==2.23.0
requests-toolbelt==0.9.1
s3transfer==0.3.3
six==1.14.0
snowballstemmer==2.0.0
Sphinx==3.0.3
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
ssm-cache==2.9
tqdm==4.46.0
twine==3.1.1
urllib3==1.25.9
wcwidth==0.1.9
webencodings==0.5.1
zipp==3.1.0
placebo==0.9.0