boto3==1.9.188
botocore==1.12.188
chaos-lambda==0.1.2
docutils==0.14
future==0.17.1
jmespath==0.9.4
python-dateutil==2.8.0
requests==2.5.4.1
s3transfer==0.2.1
six==1.12.0
ssm-cache==2.9
urllib3==1.25.3